.header {
  width: 100%;
  height: 180px;
  background-color: #1F0937;
  margin-bottom: 50px;
  border-bottom: 20px solid #FFAE31;
  border-top: 20px solid #FFAE31;
  box-shadow: 0px 10px 20px #1F0937; }

h1 {
  text-align: center;
  color: #FFAE31;
  text-shadow: 4px 4px 0px #0CA69E;
  font-family: 'Lobster', cursive;
  font-size: 80px; }

table {
  font-family: 'Lobster', cursive;
  font-size: 26px; }

.arrow {
  height: 20px;
  width: 25px; }

.arrow:hover {
  cursor: pointer; }

form {
  margin-top: 50px;
  margin-bottom: 50px; }

input.ng-invalid {
  background-color: #ffcccc; }
